#main-wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* padding: 0 3em; */
}

#image-content {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#toon-wrapper {
    display: flex;
    margin-left: 10px;
}

.image-title {
    margin-left: 20px;
}

.toon-image {
    width: 25rem;
    height: 80vh;
    margin-left: 20px;
    overflow-y: auto;
    border: 1px solid black;
}
.toon-image img {
    max-width: 100%;
    height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}
/* #origin-img-container,
#translated-img-container {
    width: 30%;
} */

#form-wrapper {
    /* width: 30%; */
    margin: 20px 0 0 20px;
}

#translateForm {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

#target_language {
    font-size: 16px;
    border: 2px solid lightgray;
    border-radius: 10px;
}

#translate-button,
#modify-button
 {
    border: none;
    text-align: start;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px !important;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #86b2dd;
    color: black;
    margin: 4px 2px;
    position: relative;
}

.tr_text_data {
    border-radius: 10px;
    border: 2px solid lightgray;
    resize: none;
}


