<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>웹 번역</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div style="display: flex">
        <div>
            <h1>번역 웹 테스트</h1>
            <a href="/">초기화</a>
            <br><br>
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="source_file" name="source_file" accept=".psd, psb">
                <select id="target_language" name="target_language">
                    <option value="en">영어</option>
                    <option value="ja">일본어</option>
                    <option value="vi">베트남어</option>
                    <option value="es">스페인어</option>
                    <option value="fr">프랑스어</option>
                    <option value="it">이탈리아어</option>
                </select>
                <input type="submit" name="translate" id="translate" value="번역하기">
            </form>
            <!-- <form id="translateForm" action="/translate" method="post" enctype="multipart/form-data"> -->
                
            </form>
            <br>
            <form action="/download" method="get">
                <input type="submit" value="저장하기">
            </form>
            <br>
        </div>
    </div>
    <div style="display: flex;">
        <div>
            <!-- 이미지가 출력되는 곳 -->
            {% if image_data %}
            <img src="{{ image_data }}" alt="PSD to PNG" width="500px" style="border: 2px solid black;">
            {% endif %}
        </div>
        <div>
            <!-- 이미지가 출력되는 곳 -->
            {% if translated_text_image_data %}
            <img src="{{ translated_text_image_data }}" alt="PSD to PNG" width="500px" style="border: 2px solid black;">
            {% endif %}
        </div>
    </div>
    <hr>

    <div style="display: flex">
        <div>
            <p>레이어 정보</p>
            <textarea id="all_layer_info" name="layer_info" rows="20" cols="45">{{ all_layer_info }}</textarea>
        </div>
        <div>
            <p>텍스트 레이어 정보</p>
            <textarea id="extracted_info" name="extracted_info" rows="20" cols="45">{{ text_layer_info }}</textarea>
        </div>
        <div>
            <p>텍스트 정보</p>
            <textarea id="extracted_text" name="extracted_text" rows="20" cols="45">{{ extracted_text_data }}</textarea>
        </div>
        <div>
            <p>번역 정보</p>
            <textarea id="translated_text" name="translated_text" rows="20"
                cols="45">{{ translated_text_data }}</textarea>
        </div>
    </div>

    <!-- <script>
        window.onload = function () {

            function submitForm() {
                document.getElementById("uploadForm").submit();
            }
            document.getElementById("source_file").addEventListener("change", e => submitForm());
        }
    </script> -->

</body>

</html>