<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>웹 번역</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/common.js"></script>
</head>

<body>
    <div style="display: flex">
        <div>
            <h1>번역 웹 테스트</h1>
            <a href="/">초기화</a>
            <br><br>
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="source_file" name="source_file" accept=".psd, psb">
            </form>
            <form id="translateForm" action="/auto_translation" method="post" enctype="multipart/form-data">
                <select id="target_language" name="target_language">
                    <option value="en">English</option>
                    <option value="ja">Japnese</option>
                    <option value="zh-CN">Chinese(Simplified)</option>
                    <option value="zh-TW">Chinese (Traditional)</option>
                    <option value="vi">Vietnamese</option>
                    <option value="th">Thai</option>
                    <!-- <option value="id">인도네시아어</option> -->
                    <!-- <option value="hi">힌디어</option> -->
                    <!-- <option value="es">스페인어</option> -->
                    <!-- <option value="fr">프랑스어</option> -->
                    <!-- <option value="de">독일어</option> -->
                    <!-- <option value="ru">러시아어</option> -->
                    <!-- <option value="pt">포르투갈어</option> -->
                    <!-- <option value="it">이탈리아어</option> -->
                </select>
                <input type="submit" name="translate" id="translate" value="번역하기" onclick="test0()">
            </form>
            <br>
            <form action="/download" method="get">
                <input type="submit" value="이미지 다운로드">
            </form>
            <br>
        </div>
    </div>
    <div style="display: flex;">
        <div style="display: flex;">
            <div>
                <!-- 이미지가 출력되는 곳 -->
                {% if image_data %}
                <img src="{{ image_data }}" alt="PSD to PNG" width="500px" style="border: 2px solid black;">
                {% endif %}
            </div>
            <div>
                <!-- 이미지가 출력되는 곳 -->
                {% if translated_text_image_data %}
                <img src="{{ translated_text_image_data }}" alt="PSD to PNG" width="500px"
                    style="border: 2px solid black;">
                {% endif %}
            </div>
        </div>
        <div>
            <!-- extracted_text_data의 길이 만큼 요소들 생성 -->
            {% for index in range(extracted_text_data|length) %}
            <div>
                <p>{{ extracted_text_data[index] }}</p>
                <textarea name="tr_text_data{{ index }}" class="tr_text_data" cols="30"
                    rows="10">{{ translated_text_data[index] }}</textarea>
            </div>
            {% endfor %}
            <form id="userTranslationForm" action="/user_translation" method="post" enctype="multipart/form-data">
                <input type="button" id="userTranslation" value="사용자 번역" onclick="prepareModifiedTexts()">
            </form>
        </div>
        <div>

        </div>
    </div>
    <hr>

    <div style="display: flex">
        <div>
            <p>레이어 정보</p>
            <textarea id="all_layer_info" name="layer_info" rows="20" cols="45">{{ all_layer_info }}</textarea>
        </div>
        <div>
            <p>텍스트 레이어 정보</p>
            <textarea id="extracted_info" name="extracted_info" rows="20" cols="45">{{ text_layer_info }}</textarea>
        </div>
        <div>
            <p>텍스트 정보</p>
            <textarea id="extracted_text" name="extracted_text" rows="20" cols="45">{{ extracted_text_data }}</textarea>
        </div>
        <div>
            <p>번역 정보</p>
            <textarea id="translated_text" name="translated_text" rows="20"
                cols="45">{{ translated_text_data }}</textarea>
        </div>
    </div>


</body>

</html>