<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>웹 번역</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div style="display: flex">
        <div>
            <h1>번역 웹 테스트</h1>
            <a href="/">초기화</a>
            <br><br>
            <form id="uploadForm" action="/extract" method="post" onchange="submitForm()" enctype="multipart/form-data">
                <input type="file" id="source_file" name="source_file" accept=".psd, psb" multiple>
                <!-- <input type="submit" value="PSD 레이어 정보 추출"> -->
            </form>
            <br>
        </div>
    </div>
    <div style="display: flex">
        <div>
            <p>레이어 정보</p>
            <textarea id="all_layer_info" name="layer_info" rows="20" cols="45">{{ all_layer_info }}</textarea>
        </div>
        <div>
            <p>텍스트 레이어 정보</p>
            <textarea id="extracted_info" name="extracted_info" rows="20"
                cols="45">{{ all_extracted_info_list }}</textarea>
        </div>
        <div>
            <p>텍스트 정보</p>
            <textarea id="extracted_text" name="extracted_text" rows="20" cols="45">{{ extracted_text_data }}</textarea>
        </div>
        <div>
            <p>번역 정보</p>
            <textarea id="translated_text" name="translated_text" rows="20" cols="45">{{ translated_text_data }}</textarea>
        </div>
    </div>

    <script>
        window.onload = function () {

            function submitForm() {
                document.getElementById("uploadForm").submit();
            }
            document.getElementById("source_file").addEventListener("change", e => submitForm());
        }
    </script>

</body>

</html>